#!/bin/sh
mkdir ~/cog ; cd ~/cog

######### cpprest  ########

git clone --depth=1 https://github.com/Microsoft/cpprestsdk.git

mkdir cpprestsdk/Release/build.debug ; cd cpprestsdk/Release/build.debug
cmake .. -DCMAKE_BUILD_TYPE=Debug && sudo make install
cd ../..

######### cogutils ########

git clone --depth=1 https://github.com/opencog/cogutils.git

######### atomspace #######

git clone --depth=1 https://github.com/opencog/atomspace.git

######### opencog core #######

git clone --depth=1 https://github.com/opencog/opencog.git
