#!/bin/sh

update () {
echo update $1
cd $1
git pull
cd ..
}

rebuild () {
echo rebuild $1
rm -rf $1/build ; mkdir $1/build ; cd $1/build ; pwd
cmake ..
}

#update atomspace
#update opencog

#rebuild atomspace
#rebuild opencog
